@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! Stuzão!!</h1>

<h3>Bem vindo ao meu primeiro app web com c# blazer do terceirão</h3>

<SurveyPrompt Title="How is Blazor working for you?" />
